@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

html {
    scroll-behavior: smooth;
}

/*======== Using Css Custom Variables =========*/

body.dark {
    --bg-color1: #0b0f19;
    --bg-color2: #1c1e2a;
    --color1: #FFF;
    --color2: #DDD;
}

body:not(.dark) {
    --bg-color1: #fbfdff;
    --bg-color2: #f5f5f5;
    --color1: #3e4455;
    --color2: #000;
}

/*======= Universal CSS Properties =======*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    color: var(--color1);
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 1.25rem;
    color: var(--color1);
    font-weight: 600;
}

h6 {
    font-size: 1rem;
}

p {
    color: var(--color1);
}

p strong {
    font-weight: 500;
    color: var(--color2);
}


img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*======== Wrapper ========*/

.portfolio-container {
    max-width: 1070;
    margin: 0 auto;
    padding: 0 15px; 
}

.portfolio-row{
    display: flex;
    flex-wrap: wrap;
}

/* ======= Style Navigation Bar */

header{
    left: 0;
    right: 0;
    z-index: 20;
    transition: .8s;
    padding: 15px;
    position: fixed;
    background-color: var(--bg-color1);
}

header .portfolio-row.header-wrap{
    justify-content: space-between;
    align-items: center;
}

.brand-name a{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--color1)
}

.portfolio-navbar {
    display: none; 
}

.navbar-toggle i {
    font-size: 1.25rem; 
    line-height: 30px; 
    cursor: pointer;
    color: var(--color1);
}

/* ========= Responsive Navigation Menu ========= */

.portfolio-navbar {
    display: block;
    position: absolute;
    background-color: rgb(236,241,256);
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    border-top: 5px solid #000;
    text-align: center; 
}


.portfolio-navbar ul li {
    display: block;
}
.portfolio-navbar ul li a {
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 45px; 
}

/* ====== Style for about section ====== */

#about {
    paddingtop: 100px; 
    background-color: var(--bg-color1);
}

.about-content {
    align-items: center;
}

.about-intro {
    margin: 3rem 0;
    width: 100%;
    order: 2;
    text-align: center; 
}

.about-text h3 {
    color: var(--color1)
    margin-bottom: 10px; 
}

/*======== CSS Main Heading =======*/

h1 strong,
h2 strong {
    background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* ======== Style for about image ======= */

.about-image {
    width: 100;
    order: 1;   
    position: relative;
    z-index: 2;
    transition-duration: 0.4s;
    cursor: pointer;
}

.about-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(11deg, #6ec1e4 0%, #54595f 100%);
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 100% 73% 100% 72% / 99% 86% 75% 63%;
    box-shadow: 2px 10px 0px 0px rgba(216, 19, 19, 0.16);
}

.about-image:hover {
    transform: translateY(-10.5px);
}

.about-image img {
    border-radius: 100% 73% 100% 72% / 99% 86% 75% 63%;
}

.about-image:hover::before {
    filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.97));
}

/*===== Style for resume section =======*/
#resume{
    padding: 60px 0;
    background-color: var(--bg-color2); 
}


/* ===== Resume Intro ======*/ 
.resume-intro {
    width: 100%; 
}

/* ======= Hello Button =======*/ 
.hello-btn a {
    display: inline-block;
    margin: 20 px 0;
    padding: 15px 45px;
    color: #FFF; 
    background-color: #6366f1;
    line-height: 30px;
    transition: all 0.3s ease-out 0s;
}

.hello-btn a:hover {
    background-color: #293b5f;
}


/* ========= Style for resume body ========= */

.resume-body {
    width: 100%;
    margin-top: 20px ;
}

.resume-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    padding: 0 10px;
    background-color: #d5d5d5;
    font-size: 1.1rem;
    border-radius: 5px;
    line-height: 40px;
    color: #000;
    cursor: pointer;
    border: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    transition: .4s;
}

.btn:not(:last-child) {
    margin-right: 15px;
}

.btn:hover,
.btn.active {
    background-color: #4d63dd;
    color: #FFF;
}

/* ------ Style for resume tab ----------*/
.resume-tab {
    display: none;
}

.resume-tab.active {
    display: block;
    animation: fadeIn 1s ease
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.institution, .organization {
    color: #78add9;
    font-weight: 400 ;
}

.years{
    color: var(--color1)
}

.qualification-content{
    position: relative;
    padding: 1rem 2.1rem;
}

.qualification-content::after {
    position: absolute;
    content: "";
    height: 7px; 
    width: 7px;
    left: 8px;
    top: 25px;
    transform: rotate(45deg);
    background-color: #e15747;
}

.qualification-content::before {
    content: "";
    height: 70%;
    width: 3px;
    left: 10px;
    position: absolute; 
    background: #e8e8e8;
}

/*========== Style For Skills Bar Progress ==========*/

.bar-content {
    margin-bottom: 15px;
}

.bar-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.bar-title,
.bar-percentage {
    color: var(--color1); /* Stellen Sie sicher, dass --color1 im Root definiert ist oder ersetzen Sie var(--color1) durch eine spezifische Farbe */
}

.bar-progress {
    display: flex;
    background-color: #e9eeef; /* Hintergrundfarbe des leeren Balkens */
    height: 8px;
    border-radius: 5px;
    width: 100%; /* Volle Breite des Balkenhintergrunds */
}

.progress-bar {
    background-color: #75a9d6; /* Füllfarbe des Balkens */
    border-radius: 5px; /* Eckenradius des gefüllten Balkens */
    /* Die Breite wird im HTML-Element als Inline-Style gesetzt, zum Beispiel style="width: 75%;" */
}

/* ------ Flags begin----------*/

.flag {
    width: 100px; /* Setze eine passende Größe für die Flagge */
    height: auto; /* Behält das Seitenverhältnis bei */
    border: 1px solid #ddd; /* Fügt einen leichten Rand hinzu */
    border-radius: 4px; /* Rundet die Ecken leicht ab */
}

#Languages{
    padding: 60px 0;
    background-color: var(--bg-color1);
}

.Languages-row{
    display: grid;
    grid-template-rows: repeat(1.1fr);

}

/* ------ Flags end----------*/


/* ------ Large Devices (desktops, 768px and up) ----------*/
@media (min-width: 768px) {

     /*======= Responsive Universal CSS Properties =======*/

     h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
        text-align: unset;
        color: var(--color1);
        font-weight: 600;
    }

/* ========= Header responsive=========*/
    header {
        background-color: transparent;
        position: absolute;
        padding: 0 15px;
    }

    .navbar-toggle i {
        display: none;
    }

    .portfolio-navbar {
        display: block;
    }

    .portfolio-navbar ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .portfolio-navbar ul li a {
        color: var(--color1);
        line-height: 65px; 
    }
}

/* ========== About Section Responsive =====*/

#about {
    padding: 175px 0 150px 0;
}

.about-intro {
    width: 60%
    margin: 0;
    order: 1
    text-align: unset; 
}

/* ======= About Image Responsive =======*/
.about-image {
    width: 40%;
    order: 2;
}

/* ======= resume intro responsive =======*/

.resume-intro{
    width: 50%;
    padding-right: 6.25rem;
}

/* ======= resume Body responsive =======*/
.resume-body {
    width: 50%;
    margin-top: 0;
    min-height: 400px;
}

.resume-body h2{
    display: none;
}

.resume-heading {
    padding: 20px 0;
}

.btn{
    padding: 0 25px;
    margin-top:0 ;
    margin-bottom: 10px;
}

.qualification-content::after{
    left: -2px;
}

.qualification-content::before{
    left: 0;
}

.bar-content{
    margin-bottom: 0;
}
