@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

html {
    scroll-behavior: smooth;
}

/*======== Using Css Custom Variables =========*/

body.dark {
    --bg-color1: #0b0f19;
    --bg-color2: #1c1e2a;
    --color1: #FFF;
    --color2: #DDD;
}

body:not(.dark) {
    --bg-color1: #fbfdff;
    --bg-color2: #f5f5f5;
    --color1: #3e4455;
    --color2: #000;
}

/*======= Universal CSS Properties =======*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    color: var(--color1);
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 1.25rem;
    color: var(--color1);
    font-weight: 600;
}

h6 {
    font-size: 1rem;
}

p {
    color: var(--color1);
}

p strong {
    font-weight: 500;
    color: var(--color2);
}


img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body, h1, h2, h3, p, ul, li {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}   

/* ========== Dark And Light Mode Toggle ======== */

.theme-toggle {
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 0;
    border: none;
    background-color: var(--color2);
}

body:not(.dark) .theme-toggle .lni-night,
body.dark .theme-toggle .lni-sun {
    cursor: pointer;
    color: var(--bg-color2);
    padding: 10px 10px;
    display: block;
    font-size: 1.25rem;
}

body:not(.dark) .theme-toggle .lni-sun {
    display: none;

}

body.dark .theme-toggle .lni-night {
    display: none;
}

    /*========== Theme Icon Color When Nabar Sticky ========*/

.theme-toggle {
     background: none;
    position: static;
    transform: none;
}

body:not(.dark) .header-sticky .theme-toggle .lni-night,
body.dark .header-sticky .theme-toggle .lni-sun {
    color: #3e4455;
}

body:not(.dark) .theme-toggle .lni-night,
body.dark .theme-toggle .lni-sun {
     color: var(--color2);
}



/*======== CSS Header Stick To Top =========*/

header.header-sticky {
    position: fixed;
    background-color: #f5f5f5;
    z-index: 2000;
    transition: .4s;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-sticky .brand-name a {
    color: #3e4455;
}

.header-sticky .navbar-toggle i {
    color: #3e4455;
}

.header-sticky .portfolio-navbar ul li a {
    color: #343434;
}


/*======== Wrapper ========*/

.portfolio-container {
    max-width: 1070;
    margin: 0 auto;
    padding: 0 15px; 
}

.portfolio-row{
    display: flex;
    flex-wrap: wrap;
}

/* ======= Style Navigation Bar ======= */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color1);
    padding: 15px 0; /* Adjust padding as needed, but ensure it's not causing the white space */
    z-index: 1000; /* High z-index to ensure the header is above other content */
}

header a {
    color: inherit; /* Or set to your preferred color */
    text-decoration: none;
}


header .portfolio-row.header-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand-name a {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--color1); /* Use your custom variable for color */
}

.portfolio-navbar {
    display: none; 
}

.navbar-toggle i {
    font-size: 1.25rem; 
    line-height: 30px; 
    cursor: pointer;
    color: var(--color1);
}

/* ========= Responsive Navigation Menu ========= */

.portfolio-navbar {
    display: block;
    position: absolute;
    background-color: rgb(236,241,256);
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    border-top: 5px solid #000;
    text-align: center; 
}

.portfolio-navbar ul {
    list-style: none;
    padding-left: 0; /* Reset default padding */
}

.portfolio-navbar ul li {
    display: block;
}
.portfolio-navbar ul li a {
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 45px; 
}

/* ====== Style for about section ====== */

#about {
    padding-top: 100px; 
    background-color: var(--bg-color1);
}

.about-content {
    display: flex;
    align-items: center; /* Zentriert die Inhalte vertikal */
    justify-content: center; /* Zentriert die Inhalte horizontal */
    gap: 15px;
}

.about-intro {
    margin: 3rem 0;
    width: 100%;
    order: 2;
    text-align: center; 
}

.about-text h3{
    color: var(--color1);
    margin-bottom: 10px;
}


/*======== CSS Main Heading =======*/

h1 strong,
h2 strong {
    background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* ======== Style for about image ======= */

.about-image {
    width: 100%; /* Ensures the container scales with the width of its parent */
    max-width: 650px; /* Increased maximum width the image can have */
    margin: 0 auto; /* Centers the image within its container */
    position: relative;
    z-index: 2;
    transition-duration: 0.4s;
    cursor: pointer;
    order: 1; /* Keeps the image order if using flexbox in the parent container */
}

.about-image::before {
    position: absolute;
    width: 100%;
    height: auto;
    content: '';
    background-image: linear-gradient(11deg, #6ec1e4 0%, #54595f 100%);
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 100% 73% 100% 72% / 99% 86% 75% 63%;
    box-shadow: 2px 10px 0px 0px rgba(216, 19, 19, 0.16);
}

.about-image:hover {
    transform: translateY(-10.5px);
}

.about-image img {
    width: 100%; /* Makes the image responsive to the width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    border-radius: 30%; /* Keeps the border-radius if desired */
    object-fit: cover; /* Ensures the image covers the area of the container without stretching */
}

.about-image:hover::before {
    filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.97));
}

/*===== Style for resume section =======*/
#resume{
    padding: 60px 0;
    background-color: var(--bg-color2); 
}


/* ===== Resume Intro ======*/ 
.resume-intro {
    width: 100%; 
}

/* ======= Hello Button =======*/ 
.hello-btn a {
    display: inline-block;
    margin: 20 px 0;
    padding: 15px 45px;
    color: #FFF; 
    background-color: #6366f1;
    line-height: 30px;
    transition: all 0.3s ease-out 0s;
}

.hello-btn a:hover {
    background-color: #293b5f;
}


/* ========= Style for resume body ========= */

.resume-body {
    width: 100%;
    margin-top: 20px ;
}

.resume-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    padding: 0 10px;
    background-color: #d5d5d5;
    font-size: 1.1rem;
    border-radius: 5px;
    line-height: 40px;
    color: #000;
    cursor: pointer;
    border: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    transition: .4s;
}

.btn:not(:last-child) {
    margin-right: 15px;
}

.btn:hover,
.btn.active {
    background-color: #4d63dd;
    color: #FFF;
}

/* ------ Style for resume tab ----------*/
.resume-tab {
    display: none;
}

.resume-tab.active {
    display: block;
    animation: fadeIn 1s ease
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.institution, .organization {
    color: #78add9;
    font-weight: 400 ;
}

.years{
    color: var(--color1)
}

.qualification-content{
    position: relative;
    padding: 1rem 2.1rem;
}

.qualification-content::after {
    position: absolute;
    content: "";
    height: 7px; 
    width: 7px;
    left: 8px;
    top: 25px;
    transform: rotate(45deg);
    background-color: #e15747;
}

.qualification-content::before {
    content: "";
    height: 70%;
    width: 3px;
    left: 10px;
    position: absolute; 
    background: #e8e8e8;
}

/*========== Style For Skills Bar Progress ==========*/

.bar-content {
    margin-bottom: 15px;
}

.bar-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.bar-title,
.bar-percentage {
    color: var(--color1); /* Stellen Sie sicher, dass --color1 im Root definiert ist oder ersetzen Sie var(--color1) durch eine spezifische Farbe */
}

.bar-progress {
    display: flex;
    background-color: #e9eeef; /* Hintergrundfarbe des leeren Balkens */
    height: 8px;
    border-radius: 5px;
    width: 100%; /* Volle Breite des Balkenhintergrunds */
}

.progress-bar {
    background-color: #75a9d6; /* Füllfarbe des Balkens */
    border-radius: 5px; /* Eckenradius des gefüllten Balkens */
    /* Die Breite wird im HTML-Element als Inline-Style gesetzt, zum Beispiel style="width: 75%;" */
}

/* ------ Flags begin---------- */

.flag {
    width: 100px; /* Verkleinert die Flaggen */
    height: auto;
    border: none;
    border-radius: 4px;
}

#Languages {
    padding: 60px 0;
    background-color: var(--bg-color1);
}

.languages-row {
    display: flex;
    flex-wrap: nowrap; /* Ensures flags stay in a single row */
    overflow-x: auto; /* Allows for horizontal scrolling if needed */
    gap: 1rem; /* Keeps some space between flags */
    justify-content: space-between; /* Distributes flags evenly */
    align-items: center; /* Aligns flags vertically */
    padding: 0 15px; /* Adds padding on the sides */
    margin-top: 2rem;
}

.languages-card {
    flex: 0 0 18%; /* Adjusts the flex-basis to distribute flags evenly */
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
    min-width: 120px; /* Minimum width for smaller screens */
    height: auto; /* Adjust height as needed */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background color */
}


.languages-card:hover {
    background-color: #515bd3; /* Color changes on hover */
    transform: translateY(-5px); /* Lower the lift on hover, from -10px to -5px */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background color */
}

.language-content h6 {
    color: var(--color1);
    margin: 1rem 0;
}

.language-content p {
    color: var(--color1);
}


.languages-card:hover .icon,
.languages-card:hover h6,
.languages-card:hover p{
    color: #FFF
}

/* ------ Flags end---------- */

/* ------ CSS Styling Hobbies begin---------- */

#hobbies {
    padding: 60px 0;
    background-color: var(--bg-color2);
}

.filter-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ------ Style for CSS Contact-Info---------- */

#contact{
    background-color: var(--bg-color1);
    padding: 60px 0;
}

.contact-general{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem; 
    margin-bottom: 3rem;
}

.contact-card{
    text-align: center;
}

.contact-card .icon i{
    font-size: 2.5rem;
    color: var(--color1);
}

.contact-content{
    margin-top: 20px;
}

.contact-content h5{
    font-size: 1rem;
    color: var(--color1);
    font-weight: 500;
}

.contact-content span{
    color: var(--color1);
}

/* ------ Styling for footer section ----------*/

footer {
    background-color: var(--bg-color2);
    padding: 20px 0;
}

.portfolio-row.footer-wrap {
    display: flex;
    justify-content: space-between; /* Aligns items on opposite ends */
    align-items: center;
    flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

.social-icons {
    display: flex; /* Aligns the social icons horizontally */
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}

.social-icons li {
    margin-right: 0.5rem;
}

.social-icons li:not(:last-child) {
    border-right: 1px solid var(--color2);
    padding-right: 0.7rem;
}

.social-icons li a {
    color: var(--color1);
    text-decoration: none; /* Optional: removes underline from links */
}

/* Adjust as needed */
copyright-text {
    color: var(--color1);
}

/*========= Navigation Link When Scroll Active =======*/

.portfolio-navbar ul li a.active-link {
    font-weight: 800;
}

/*========= CSS Styling Hobbies Begin =======*/
.portfolio-wrapper{
    display: flex;
    gap: 15px; 
    flex-direction: column;
    margin-top: 30px;
}

.portfolio-wrapper .portfolio-col{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.portfolio-item.travel img{
    border-radius: 5px;
    height: 500px;
}

.portfolio-item.skiing img{
    border-radius: 5px;
    height: 500px;
}

.portfolio-item.boxing img{
    border-radius: 5px;
    height: 500px;
}

.portfolio-item.football img{
    border-radius: 5px;
    height: 500px
}


/*========= Hobbies Portfolio Gallery begin =========*/


.portfolio-item {
    position: relative;
    cursor: pointer;
}

.portfolio-item.show {
    animation: fadeIn 4.5s ease;
}

.portfolio-item.hide {
    display: none;
}


.portfolio-item-content {
    position: absolute;
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
    background-color: rgba(16, 16, 16, .5);
    transition: .5s;
    transform: scale(1.15);
    opacity: 0;
}

/*========= Hobbies Portfolio Gallery ends =========*/

/*========= hobbies responsive =========*/

.filter-wrap{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*========= hobbies Gallery responsive =========*/
.portfolio-wrapper{
    flex-direction: column;
}

/* ------ Large Devices (desktops, 768px and up) ----------*/
@media (min-width: 768px) {

     /*======= Responsive Universal CSS Properties =======*/

     h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
        text-align: unset;
        color: var(--color1);
        font-weight: 600;
    }

/* ========= Header responsive=========*/
    header {
        background-color: transparent;
        position: absolute;
        padding: 0 15px;
    }

    .navbar-toggle i {
        display: none;
    }

    .portfolio-navbar {
        display: block;
    }

    .portfolio-navbar ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .portfolio-navbar ul li a {
        color: var(--color1);
        line-height: 65px; 
    }
}

/* ========== About Section Responsive =====*/

#about {
    padding: 175px 0 150px 0;
}

.about-intro {
    width: 60%;
    margin: 0;
    order: 1;
    text-align: unset; 
    flex: 1; /* Gibt dem Textbereich mehr Flexibilität */
    order: 2; /* Text danach */
    padding-left: 20px; /* Etwas Abstand zwischen Bild und Text */
    /* Weitere Text-Stile... */
}

/* ======= About Image Responsive =======*/
.about-image {
    width: 40%;
    order: 2;
}

/* ======= resume intro responsive =======*/

.resume-intro{
    width: 50%;
    padding-right: 6.25rem;
}

/* ======= resume Body responsive =======*/
.resume-body {
    width: 50%;
    margin-top: 0;
    min-height: 400px;
}

.resume-body h2{
    display: none;
}

.resume-heading {
    padding: 20px 0;
}

.btn{
    padding: 0 25px;
    margin-top:0 ;
    margin-bottom: 10px;
}

.qualification-content::after{
    left: -2px;
}

.qualification-content::before{
    left: 0;
}

.bar-content{
    margin-bottom: 0;
}

/* ======= Language responsive =======*/
.languages-row{
    grid-template-columns: repeat(3, 1fr) ;
}



/* ======= contact general responsive =======*/
.contact-general{
    grid-template-columns: repeat(3,1fr);
    margin: 4rem 0; 
}

.contact-general h2{
    display: none;
}

.contact-card:nth-of-type(2){
    border-left: 1px solid #d9d9d9; 
    border-right: 1px solid #d9d9d9;
}

/* ======= Footer responsive =======*/

.portfolio-row.footer-wrap{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright-text{
    display: block;
}